<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>DNI</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Nota</th>
      <th>Aprobado</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <td>{{ student.id }}</td>
      <td>{{ student.dni }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.age }}</td>
      <td>{{ student.grade }}</td>
      <td>{{ student.is_approved }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>